.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 130px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: rgba(217, 217, 217, 0.03);
  -webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  z-index: 999;

  @media screen and (max-width: 768px) {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--container-width);

    .logo {
      width: 50px;
      height: 32px;
    }

    .menuLinks {
      display: flex;
      gap: 30px;

      .menuLink {
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}