.header {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  position: fixed;           
  width: 100%;
  height: 75px;
  background-color: rgba(217, 217, 217, 0.03);
  -webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  z-index: 999;

.container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0 40px;
  position: relative; 
}

.logo {
  height: 50px; 
  width: auto;
  z-index: 10; 
}

.searchBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 5px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  input {
    background: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 14px;
    &::placeholder { color: #ccc; }
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.menuLinks {
  display: flex;
  align-items: center;
  gap: 25px;


    .menuLinks {
      display: flex;
      align-items: center;
      gap: 30px;

      .menuLink {
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .logoutButton {
        background-color: var(--danger-label-color);
      }
    }
  }
}