.studentPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  @media screen and (max-width: 768px) {
    height: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 130px;
    background-color: #000000d2;
    width: 100%;
    height: 100vh;

    @media screen and (max-width: 768px) {
      padding: 40px 20px;
      height: 100%;
      min-height: 100vh;
      justify-content: flex-start;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: var(--container-width);
      gap: 60px;

      @media screen and (max-width: 768px) {
        gap: 30px;
      }

      .matterCards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;

        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
        }

        .card {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #252525;
          height: 250px;
          width: 250px;
          border-radius: 50px;
          font-size: 18px;
          font-weight: 600;
          color: #FFF;
          padding: 15px;
          text-align: center;
          box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
          -webkit-box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
          -moz-box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);

          @media screen and (max-width: 768px) {
            width: 100%;
            max-width: 250px;
          }
        }
      }
    }
  }
}