// TODO: mudar para variaveis

.studentClass {
  width: 100%;

  .container {
    margin-top: 65px;

    @media screen and (max-width: 768px) {
      margin-top: 0;
    }

    .header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 46px;

      .classBanner {
        width: 100%;
        max-width: 420px;
        height: 100%;
        max-height: 280px;
        border-radius: 14px;
      }

      .titleContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
          color: #37ADA5;
          font-size: var(--content-page-class-title-desktop);
          font-weight: 700;
          text-shadow: 0 0 10px rgba(55, 173, 165, 0.7);

          @media screen and (max-width: 768px) {
            font-size: var(--content-page-class-title-mobile);
          }
        }

        .class {
          color: #FFF;
          font-size: var(--content-page-class-text-desktop);
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      margin-top: 48px;
      gap: 21px;

      h2 {
        color: #37ADA5;
        font-size: 40px;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(55, 173, 165, 0.7);

        @media screen and (max-width: 768px) {
          font-size: 36px;
        }
      }

      h3 {
        color: #37ADA5;
        font-size: 32px;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(55, 173, 165, 0.7);

        @media screen and (max-width: 768px) {
          font-size: 28px;
        }
      }

      p {
        color: #FFF;
        font-size: 18px;

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }

      b {
        color: #37ADA5;
        font-weight: 700;
        font-size: 18px;

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }

      a {
        color: #37ADA5;
        text-decoration: underline;
        font-size: 18px;

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}