:root {
  /* colors */
  --background: #1F1F1F;
  --primary-color: #37ADA5;
  --white-label-color: #FFFFFF;
  --header-background: #d9d9d915;
  --alert-label-color: #8F8C32;
  --danger-label-color: #922A2A;
  --dark-label-color: #1F1F1F;
  --overlay-color: #000000d2;

  /* font-sizes */

  /* Titles */
  --font-h1-desktop: 64px;
  --font-h1-mobile: 32px;

  /* Cards */
  --class-card-title-desktop: 35px;
  --class-card-title-mobile: 16px;
  --class-subtext-desktop: 18px;
  --class-subtext-mobile: 12px;
  --class-button-desktop: 16px;
  --class-button-mobile: 14px;

  /* General Texts */
  --content-page-class-title-desktop: 40px;
  --content-page-class-title-mobile: 32px;
  --content-page-class-subtitle-desktop: 32px;
  --content-page-class-subtitle-mobile: 28px;
  --content-page-class-text-desktop: 18px;
  --content-page-class-text-mobile: 16px;

  /* Container */
  --container-width: 1250px;

  /* Student Page */
  --student-page-height-desktop: 100vh;
  --student-page-height-mobile: 100%;
  --student-page-min-height-mobile: 100vh;
  --student-page-overlay-padding-desktop: 90px 130px;
  --student-page-overlay-padding-mobile: 40px 20px;
  --student-page-overlay-width: 100%;
  --student-page-overlay-height-desktop: 100vh;
  --student-page-overlay-height-mobile: 100%;
  --student-page-overlay-min-height-mobile: 100vh;
  --student-page-container-width: 100%;
  --student-page-container-gap-desktop: 60px;
  --student-page-container-gap-mobile: 30px;
  --student-page-cards-gap-desktop: 30px;
  --student-page-cards-gap-mobile: 20px;
  --student-page-cards-height-mobile: 100%;
  --student-page-cards-max-height-mobile: 60vh;
  --student-page-cards-padding-top-mobile: 135px;

  /* Student Content Page */
  --student-content-page-margin-top-desktop: 65px;
  --student-content-page-margin-top-mobile: 0;
  --student-content-page-header-gap: 46px;
  --student-content-page-banner-width: 100%;
  --student-content-page-banner-max-width: 420px;
  --student-content-page-banner-height: 100%;
  --student-content-page-banner-max-height: 280px;
  --student-content-page-banner-border-radius: 14px;
  --student-content-page-title-container-gap: 10px;
  --student-content-page-title-font-weight: 700;

   /* NewClass Page */
   --newclass-page-padding-desktop: 150px 130px;
   --newclass-page-padding-mobile: 64px 24px;
   --newclass-page-container-width: 100%;

  /* General Content Page */
  --general-content-page-padding-desktop: 20px 130px;
  --general-content-page-padding-mobile: 40px 20px 50px;
  --general-content-page-height: 100%;
  --general-content-page-min-height: 100vh;
  --general-content-page-container-width: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}