.teacherPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 130px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--container-width);

    .cards {}
  }
}