.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 200px;
  padding: 40px;
  
  .message {
    color: var(--white-label-color);
    font-size: 16px;
  }
}
