.headerMobile {
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.bottomNavigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: rgba(217, 217, 217, 0.03) !important;
  z-index: 1200;

  :global(.MuiBottomNavigation-root) {
    height: 75px;
    background-color: rgba(217, 217, 217, 0.03) !important;
  }
}

.action {
  min-width: auto;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  :global(.MuiBottomNavigationAction-root) {
    min-width: auto;
    padding: 0;
  }
}

.icon {
  color: #ffffff !important;
  width: 28px !important;
  height: 28px !important;
}
