// TODO: mudar para variaveis

.contentPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 130px;

  @media screen and (max-width: 768px) {
    padding: 40px 20px;
    height: 100%;
    min-height: 100vh;
    justify-content: flex-start;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--container-width);
  }
}