.loginContainer {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #37ADA5 50%, #1f1f1f 50%);


  @media screen and (max-width: 380px) {
    background: linear-gradient(150deg, #37ADA5 42%, #37ADA5 30%, #1f1f1f 30%);
  }

  @media screen and (min-width: 381px) and (max-width: 768px) {
    background: linear-gradient(135deg, #37ADA5 42%, #37ADA5 30%, #1f1f1f 30%);
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1250px;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 80px 16px 150px;
    }

    .logo {
      width: 268px;
      height: 256px;
      position: absolute;
      left: 15%;
      top: 15%;


      @media (max-width: 768px) {
        width: 135px;
        height: 125px;
        position: unset;
      }
    }

    .loginForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 15%;
      bottom: 15%;
      gap: 10px;

      @media (max-width: 768px) {
        width: 135px;
        height: 125px;
        position: unset;
      }

      .title {
        color: #37ADA5;
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 20px;
      }

      .loginInput {
        width: 410px;

        @media (max-width: 768px) {
          width: 300px;
        }

        :global(.MuiInputBase-input) {
          color: #fff;
        }

        :global(.MuiInputLabel-root) {
          color: #37ADA5;
        }

        :global(.MuiOutlinedInput-notchedOutline) {
          border-color: #37ADA5;
        }

        :global(.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline) {
          border-color: #37ADA5;
        }

        :global(.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline) {
          border-color: #37ADA5;
        }
      }

      .loginButton {
        background-color: #37ADA5;
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        margin-top: 20px;

        @media (max-width: 768px) {
          width: 300px;
        }
      }
    }
  }
}