// TODO: mudar para variaveis

.card {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 142px;
  border-radius: 40px;
  box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.25);

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 85px;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 35px 27px;
    gap: 5px;
    background-color: #000000a1;
    border-radius: 40px;
    width: 100%;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }

    .cardContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 30px;

      @media screen and (max-width: 768px) {
        gap: 30px;
      }

      .textContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 0;
        flex: 1;

        .classNumber {
          font-size: 16px;
          font-weight: 300;
          color: #FFF;

          @media screen and (max-width: 768px) {
            font-size: 12px;
          }
        }

        .classTitle {
          font-size: 30px;
          font-weight: bold;
          color: #FFF;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 0;

          @media screen and (max-width: 768px) {
            font-size: 16px;
          }
        }
      }

      .actions {
        display: flex;
        flex-direction: row;
        gap: 34px;

        @media screen and (max-width: 768px) {
          gap: 15px;
        }

        .actionButton {
          border: none;
          margin: 0;
          padding: 0;
          cursor: pointer;
          background-color: transparent;

          svg {
            color: #FFF;
            width: 35px;
            height: 35px;

            @media screen and (max-width: 768px) {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}